version: "1"
projects:
  - name: DominAItion-Backend
    environments:
      - name: Production
        services:
          - type: web
            name: dominAItion-backend
            env: java
            repo: https://github.com/ChrisPrice03/dominAItion-backend
            plan: free
            region: ohio
            envVars:
              - key: JAVA_VERSION
                value: 17
            buildCommand: ./gradlew build
            startCommand: ./gradlew bootRun
            autoDeployTrigger: "off"
